* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

.layout {
  display: flex;
}

main,
.sidebar {
  height: 100vh;
}

.sidebar {
  width: 21%;
  min-width: 13.5em;
  background-color: #09203f;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 2em;
  text-align: center;
  position: relative;
}

.sidebar::before {
  content: "";
  width: 1em;
  height: 100%;
  background-color: #fbec5c;
  position: absolute;
}

main {
  width: 79%;
  overflow-y: scroll;
  padding: 2.8em;
}

header {
  height: 4em;
  background-color: #09203f;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

.link {
  text-decoration: none;
  color: #ebe6c1;
}

.active {
  font-weight: bold;
  color: #fbec5c;
  text-decoration: none;
}

.landing-page,
.templates,
.general-details,
.profile,
.education,
.experience,
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page {
  width: 100%;
  justify-content: space-around;
  color: #ffffff;
  background-size: cover;
  padding: 5em;
  gap: 2em;
}

.landing-page--title {
  font-size: 3em;
}

.landing-page--button {
  width: 20em;
  font-size: 1.5em;
  padding: 1em;
  border: none;
  cursor: pointer;
  background-color: #fbec5c;
}

.landing-page--text {
  font-size: 2em;
  text-align: center;
  color: #ebe6c1;
}

.landing-page--button:active {
  transform: scale(0.97);
}

.templates {
  padding: 1em;
}

.templates--title {
  font-size: 1.5em;
  color: #ebe6c1;
}

.templates-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.5em;
}

.templates-container {
  width: 100%;
  padding: 1em;
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.templates-container::-webkit-scrollbar {
  height: 4px;
}

.template {
  flex-basis: 33%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.template img {
  height: 80%;
  margin-top: 1em;
}

fieldset {
  padding: 0 3em 1em;
  margin-bottom: 1em;
  display: grid;
  gap: 1em;
  max-width: 60%;
  border: 0.2em solid #09203f;
}

.formNavigation {
  display: flex;
  justify-content: space-around;
  gap: 1em;
}

.next {
  background-color: #fbec5c;
}

.back {
  background-color: #537895;
}

.general-details fieldset {
  grid-template-columns: 1fr 1fr;
}

legend {
  font-weight: 700;
  font-size: larger;
  margin: 0.2em;
  padding: 1em;
  color: #09203f;
}

label {
  font-size: 1em;
  color: #09203f;
}

::placeholder {
  color: #5378958c;
  font-size: 0.85em;
}

input[type="text"],
input[type="tel"],
input[type="date"] {
  font-size: 1em;
  padding: 0.2em 1em;
  display: block;
}

input[type="date"] {
  width: 100%;
}

input[type="checkbox"] {
  margin-left: 1em;
  transform: scale(1.5);
  cursor: pointer;
}

button {
  display: block;
  width: 8em;
  height: 3em;
  font-size: large;
  border: none;
  cursor: pointer;
}

button:active {
  transform: scale(0.97);
}

textarea {
  font-size: 1.2em;
  margin-bottom: 1em;
  font-family: inherit;
  max-width: 25em;
  min-width: 18em;
  height: 10em;
  padding: 0.4em 1em;
}

.addInputButton {
  width: 100%;
  height: 2em;
  background-color: #09203f;
  color: #fbec5c;
  font-size: 1em;
}

.educationInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.educationInputs span,
.experienceInputs span {
  display: block;
  margin-top: 1em;
  margin-right: 0.3em;
  cursor: pointer;
  font-size: 0.8em;
  text-align: right;
  color: #537895;
}

.educationInputs span:active,
.skill-list span:active,
.experienceInputs span:active {
  transform: scale(0.97);
}

.experienceInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.responsibilities {
  grid-column: 1 / span 2;
  font-size: inherit;
  color: #ebe6c1;
  font-size: 1.3em;
  text-align: center;
}

.responsibilities label {
  font-size: 0.8em;
  display: block;
  margin-top: 0.5em;
}
.responsibilities input {
  display: inline;
  font-size: 0.8em;
  margin-left: 1em;
  width: 60%;
}

.responsibility-button {
  margin-top: 0.7em;
  height: 1.6em;
  margin-left: auto;
  font-size: 0.7em;
  width: 100%;
}

.skills-list {
  margin-left: 1.4em;
  color: #ebe6c1;
}

.skills-list span {
  margin-left: 1em;
  cursor: pointer;
  font-size: 0.8em;
}

.experience-list {
  margin-left: 1.4em;
  color: #ebe6c1;
}

.preview {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  .landing-page {
    height: 100vh;
    text-align: center;
    padding: 1em;
  }

  .templates-container {
    overflow-x: scroll;
    justify-content: unset;
  }

  .general-details fieldset,
  .educationInputs {
    grid-template-columns: 1fr;
  }

  .experienceInputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  textarea {
    min-width: 10em;
    height: 18em;
  }

  .formNavigationButton {
    display: flex;
    justify-content: center;
    border: 1px solid red;
  }
  .preview {
    transform: scale(0.6);
  }
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media print {
  .preview {
    grid-template-columns: auto 1fr;
    height: 80vh;
    margin: none;
  }
}
