* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.t2-top {
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: linear-gradient(to bottom, #ffffff 50%, #f2f2f2 50%);
  padding: 8em;
}

.orange {
  color: #ffb862;
}

.t2-name-box {
  width: 100%;
  height: max-content;
  padding: 1em 2em;
  background-color: #ffffff;
  border: 2px solid #ffb862;
  text-align: center;
  margin-top: 6em;
}

.t2-name-box h2 {
  font-size: 3.5em;
}

.t2-top p {
  font-size: 2.5em;
  margin-bottom: 1em;
}

.t2-bottom {
  display: grid;
  grid-template-columns: 3fr 5fr;
  width: 100%;
  align-items: flex-start;
  margin-top: 2em;
}

.t2-left,
.t2-right {
  width: 100%;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 1.1em;
  justify-content: flex-start;
}

.t2-right {
  border-left: 2px solid #ffb862;
}

.t2-contact {
  width: 100%;
  display: grid;
  gap: 1em;
  font-size: 1.1em;
}

.t2-education-details {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.t2-education {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

h2 {
  letter-spacing: 0.2em;
}

.t2-skill-details {
  padding: 1em;
  font-size: 1em;
}

.t2-skill-details li {
  margin-top: 0.3em;
}

.t2-contact i {
  margin-right: 1em;
}

.t2-profile {
  width: 100%;
  font-size: 1.3em;
}

.t2-experience {
  font-size: 1em;
  margin-top: 1em;
}

.t2-experience h2 {
  letter-spacing: 0.2em;
  font-size: 1.4em;
}

.t2-experience h4 {
  font-size: 1.2em;
}

.t2-experience li {
  margin-top: 0.5em;
}
